.certificate-images {
    display: flex;
    max-width: 800px;
    height: auto;
    align-items: center;
    justify-content: center;
    
}

.certificate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.certificate-images img {
    width: 749px;
    height: 526px;
    
}
.swiper-slide,.slider-pagination, .swiper-slide-active-slide{
    position: relative;
    right: -26px;
}

.swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal{
    position: relative;
    justify-content: center;
    margin-top: 25px;
}

@media (max-width: 768px) {
    .certificate-images img {
        width: 374.5px;
        height: 263px;
        position: relative;
        left: 11.6rem;

    }
    
}